@import "bootstrap";


body {
	background-color:#f5f5f1;
	color:#333333;
	font-family:Helvetica, sans-serif;
}

h1,h2,h3,h6 {
	color:#ee5a0a;
}

a:link{
	color:#ee5a0a;
}

.center{
	text-align:"center";
}

.right{
	text-align:"right";
}