@import "bootstrap";


body {
	background-color:#FC8647;
	color:#dd4706;
	font-family:Helvetica, sans-serif;
}

h1,h2,h3 {
	color:#ee5a0a;
}

.center{
	text-align:"center";
}

.right{
	text-align:"right";
}